/*
Configuración de la vista
HTML5 introdujo un método para permitir que los diseñadores web tomen el control de la ventana gráfica, 
a través de la etiqueta <meta> .

Debe incluir el siguiente elemento de vista <meta> en todas sus páginas web:
<meta name=“viewport” content=“width=device-width, initial-scale=1.0”>

Un elemento de vista <meta> le da al navegador instrucciones sobre cómo controlar las dimensiones y la escala de la página.

La parte width=device-width establece el ancho de la página para seguir el ancho de pantalla del dispositivo (que variará dependiendo del dispositivo).
La parte de initial-scale=1.0 establece el nivel de zoom inicial cuando el navegador carga la página por primera vez.


Unidades relativas de medida:

Porcentaje: longitud referente al tamaño de los elementos padre
em: unidad relativa al tamaño de fuente especificada más cercano
rem: unidad relativa al tamaño de fuente especificada en el ancestro más lejano (html o body)
vw / vh: unidad relativa porcentual con respecto al viewport
*/
/*
Media queries
El media queries es un módulo de css que hace posible al responsive design, 
éste existe desde el 2010 y se encarga de adaptar la representación del 
contenido a características del dispositivo.

@media media type and (condicion){}
Se compone de un media type y una o más condiciones.

@media screen and(max-width:768px){}
Todas las pantallas con un ancho inferior o igual a 768px cumplen esta condición.

@media screen and(max-width:768px) and (min-width:480px){}
Todas las pantallas con un ancho de 480px hasta 768px cumple esta condición.

MobileFirst
@media screen and(min-width: 320px){}
@media screen and(min-width: 480px){}
@media screen and(min-width: 768px){}
@media screen and(min-width: 1024px){}
min-width = desde
@media screen and(max-width: 1024px){}
@media screen and(max-width: 768px){}
@media screen and(max-width: 480px){}
@media screen and(max-width: 320px){}
max-width = hasta

max-width = hasta
min-width = desde

all | Valor por defecto, usada por todos los tipos de media
print | Utilizado para impresoras
screen | Se utiliza para pantallas de ordenador, tabletas, teléfonos inteligentes, etc.
speech | Se utiliza para lectores de pantalla que “lee” la página en voz alta
@media all and (condición) {}
@media print and (condición) {}
@media screen and (condición) {}
@media speech and (condición) {}
*/


/*selector de etiqueta header -section - article - nav*/
/*
1. Selector de etiqueta: refiere a etiquetas HTML, como el ejemplo de la imagen.
2. Selector descendiente: refiere a etiquetas HTML de forma hereditaria.
3. Selector de id: ("#") refiere a atributos id de etiquetas HTML.
4. Selector de class (clase): (".") refiere a atributos class de etiquetas HTML.
*/
/*reglas
selectores
declaraciones
propiedades 
valor*/
/*  */


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d44amp');
  src:  url('../fonts/icomoon.eot?d44amp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d44amp') format('truetype'),
    url('../fonts/icomoon.woff?d44amp') format('woff'),
    url('../fonts/icomoon.svg?d44amp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}




body{
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
    margin: 0;
    background-image: linear-gradient(to top, #3d4845, #0f2d2f, #272a2a, #072b35, #323131);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif; /* fuente de letra */
    font-weight: normal; /* espesor de la fuente, negrita : bold */
}

h1{
    font-size: 40px; /* tamaño de la fuente */
    line-height: 1.5; /* espaciado entre filas de la fuente */
    letter-spacing: -.2px; /* para modificar el espacio entre letras */
  /*  text-transform: uppercase; /* para transformar la fuente (mayusculas, minuculas, etc) */
  /*  text-decoration: dashed /* para moodificar la decoración de la fuente y para el subrayado de la fuente */
    color: white;

    /* margin:top right bottom left; */
    /* margin: 100px 50px 70px 30px; */
    margin: 0;
    /* margin: 10px 10px; --> margin: top bottom / left right*/

}
h1 strong {
    color: #026fff; /* Color de fuente celeste */
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 30px;
}

.hero {
    height: 300px;
    /* background-color: #2d2d2d; */
    /*background-image: url('../images/hero.jpg'); /* para agregar una imagen de fondo */
    /*background-size: 500px, 300px; /* para modificar el tamaño del background asignado */
    /*background-repeat: no-repeat; /* para modificar la repetición del backgound asignado */
    /*background-position-x: right; /* para modificar la posición del bakground asignado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
  border-radius: 7px;
}

.portafolio {
    /* background-image: linear-gradient(to top, #3d4845, #021011, #3b373a, #08323d, #323131); */
    display: grid;
    place-content: center;
    padding: 25px 0;
    color: white;
}

.container-portafolio {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
    gap: 50px 80px;
    /* margin: 0 200px; */
    justify-content: center;
    width: 60vw;
}

.container-experiencia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 40px;
    justify-content: center;
    width: 60vw;
}

.project {
    border-radius: 10px;
    padding: 5px;
    /* box-shadow: 5px 5px 15px 5px #95afc0; */
    box-shadow: 5px 5px 10px 5px #000000;
    /* outline: 1px solid;

    /* box-sizing: border-box; /* para mantener el tamaño de la caja independiente del padding o border */

    /* box-shadow: right bottom opacidad-sombra grosor-sombra; */
    /* box-shadow: 4px 4px 8px 0px #95afc0; */
}

/* .project-details{
    width: 45%;
    margin: 10px 10px;
} */

.project-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    gap: 10px 25px;
    padding: 10px 20px;
    align-items: center;
}

.project-title {
    font-size: 24px;
    margin: auto;
    text-align: center;
    /* background: #dadada; */
    padding: 6px;
    border-bottom: 1px solid;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 15px;
    text-align: justify;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

/* .project-imageContainer{
    width: 53%;
} */

.project-imageContainer img {
    max-width: 100%;
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none; /* quita la numeración del li */
    height: inherit;
}

.header {
    background-color: #2d2d2d; /* para agregar un color de fondo */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
}

.header a {
    color: white; /*  */
    text-decoration: none; /* Se usa para eliminar o adherir subrayado a un elemento de tipo texto. <a></a> */
    /* height: inherit; */
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: initial;
    margin: 14px 4px;
}

.header .menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

figure {
    margin: 0;
    text-align: center;
}

.footer {
    background: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer img {
    width: 70px;
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list {
    display: grid;
    place-content: center;
    /* display: flex;
    flex-wrap: wrap; */
}

.event {
    /* margin: 1%;
    width: 48%;
    flex-shrink: 0;*/
    border-radius: 10px; 
    overflow: hidden; /* para ocultar la esquina de la imagen y se muestre redondeado según al border-radius definido */
    background-color: #f4fbff;
    /* flex-wrap: wrap; */

}

.event img {
    width: 480px;
    height: 290px;
    object-fit: cover; /* para que la imagen muestre su tamaño normal por más que su height sea menor */
    object-position: center; /* para centrar una imagen */
}

.event-list-title {
    margin: 25px 0 10px 20px;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -70px; /* subir el contenedor por el eje negativo */
    background-color: white;
    position: relative; /* para mostrar el contenedor completo por encima del otro */
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.code-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.code-list p {
    margin-bottom: 0;
}

.code-image {
    margin: 5px;
    padding: 30px 97px;
    background: #52c16b;
    border-radius: 5px;
}

.code-tecnologias .code-section {
    background: #b9b9b9;
    max-width: 985px;
    margin: 8px auto;
    padding: 1px 0px;
    border-radius: 5px;
    width: 94%;
}

.code-tecnologias .description {
    margin: 10px 20px;
    font-family: 'Baloo', cursive;
    display: flex;
    align-items: center;
}

.code-tecnologias .description .code-figure {
    margin: auto 64px;
    display: inherit;
    /* overflow:hidden; */
}

.code-tecnologias .description .code-figureOtros {
    display: inherit;
    align-items: center;
}

.code-tecnologias .description p {
    margin: 0 25px 0 10px;
}

.code-tecnologias .description img {
    margin: 0 12px;
    /* filter: blur(1px); */
}

.code-tecnologias .description img:hover {
    /* margin: 0 10px; */
    /* visibility: hidden; */
    /* filter: none; */
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    /* transition:all .6s ease-in-out;
    border-radius:50%;
    -webkit-border-radius:50%; */
    /* box-shadow: 0px 0px 15px 15px #ec731e; */
    /* -webkit-box-shadow: 0px 0px 15px 15px #ec731e; */
    /* transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .social {
} */

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input {
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    /* El formato SVG (Scalable Vectors Grafics) es aquel el cual no importa cuanto le modifique su tamaño,
     este no va perder su resolución. Siendo esto porque usa vectores en vez de pixeles para dibujar en pantalla. */
    background-image: url('../images/envelope.svg'); 
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 5px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /*border: 1px solid gray;*/
    max-width: 1030px;
    flex: 1; /* toma todo el ancho disponible que tengas dentro del elemento */
    margin: auto auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

ol li a:hover {
  background-color: #09aaa2;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8); /* rgba(rojo,verde,azul,opacidad) - rgba(0-255,0-255,0-255, 0-1) */
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    top: 5px;
    left: 5px;
    color: white;
}

.header ol li .border {
  height: initial;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 14px 4px 
}

/* Desktop First que empieze desde el MQ mas grande */

@media screen and (max-width: 1023px){

    .container {
        padding: 0 1em;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }

    .container-portafolio {
        width: 90vw;
    }
}

.html-video {
    width: 100%;
    height: auto;
}

.youtube-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.flexible-video {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: blue;
    position: relative;
}

@media screen and (max-width: 767px){

    h2 {
        font-size: 1.2em;
        margin: .6em;
    }

    .burger-button {
        display: block;
    }

    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: initial;
    }

    .header ol li {
        height: 50px;
        text-align: center;
    }

    .header ol li a {
        justify-content: center;
        font-size: 1.2em;
    }

    .project {
        display: block;
        width: auto;
    }

    .project-imageContainer{
        width: auto;
        text-align: center;
        margin: auto;
    }

    .project-details {
        width: auto;
        /*font-size: 16px;*/
    }

    .project-course,
    .project-date,
    .project-url {
        margin: .4em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;
    }
  
    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: 1em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
    }

    .social-link {
    width: 43px;
    height: 43px;
    margin: 0 6px;
    background-size: 100%;

    }

    .header .menu {
        position: fixed;
        top: 0;
        left: -100vw;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        /*height: 100vh;*/
        background: rgba(16, 172, 132, .92);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    .menu.is-active {
        left: 0;
    }

    .container-portafolio {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 30px;
        width: 85vw;
    }
}

@media screen and (max-width: 590px){

    .code-tecnologias .description {
        margin: 9px 14px;
    }

    .code-tecnologias .description .code-figure {
        margin: auto 15px;
    }
    
}

@media screen and (max-width: 480px){

    h1 {
        font-size: 1.5em;
    }

    .project-details {
        width: auto;
        font-size: 14px;
    }

    .event-detail {
        margin: 2em .5em .5em;
        padding: 1em;
    }

    .code-image {
        width: 55%;
    }

    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    .code-tecnologias .description p {
        margin: 0 6px 0 10px;
    }

    .code-tecnologias .description img {
        margin: 0 6px;
    }

    .code-tecnologias .description {
        font-size: 12px;
        margin: 7px 7px;
    }

    .code-tecnologias .description .code-figure {
        margin: 0;
    }
    
}

@media screen and (max-width: 320px){

    h1 {
        font-size: 1.2em;
    }
    .hero {
        padding: 2em 1em;
    }
    
}